@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    background: url(bg.jpeg) no-repeat center;
    background-size: cover;
}

.overlay {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.title {
    color: rgba(255, 255, 255, 0.918);
    font-size: 2.4rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.column {
    width: 500px;
    color: white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.column div {
    width: 200px;
    text-align: center;
}

input {
    width: 60%;
    height: 50px;
    font-size: 1.3rem;
    border-radius: 10px;
    text-align: center;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 600px) {
    .title {
        font-size: 1.8rem;  /* Smaller font size for the title */
    }

    .column {
        width: 100%;
        flex-wrap: wrap;
    }

    .column div {
        width: 100%;  /* Full width for smaller devices */
        padding: 10px;  /* Padding adjustment for smaller devices */
    }

    input {
        width: 100%;  /* Full input width for easier mobile interaction */
        font-size: 1rem;  /* Smaller font size for inputs */
    }
}
